*{
    margin: 5px;
    padding: 5px;
}
body{
    background-color: #a2afcf;
}

    .header{
        background-color: rgb(57, 57, 57);
        display: flex;
        justify-content: center;
    }
    
        .Inicio{
            background-color: rgb(224, 219, 219);
            display: flex;

        }
        
        .Inicio img{
            padding: 0px;
            margin: 0px;
            width: auto;
            height: 25px;
        }


    .PrincipalAdmin{
        border: 2px solid blue;
    }

        .ttl-Admin{
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }

        .ttl-Admin h1{
            font-family:Arial, Helvetica, sans-serif
        }

      
        .cnt-btns{
            border: 2px solid #3b3b3c40;
            background: #9999994a;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .formulario{
            display: none;
 
        }
        .formula{
            background-color: #888;
        }

        .cnt-T {
            margin: 20px;
          }
        
          table {
            width: 100%;
            border-collapse: collapse;
          }
        
          th,
          td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
          }
        
          th {
            background-color: #f2f2f2;
          }
        
          tr:hover {
            background-color: #f5f5f5;
          }

          .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-contenido {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .cerrar {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .cerrar:hover,
    .cerrar:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
    }

    .modal-contenido {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .cerrar {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }

    .cerrar:hover,
    .cerrar:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }