*{
    margin: 5px;
    padding: 5px;
}
body{
    background-color: #a2afcf;
}

    .header{
        background-color: rgb(57, 57, 57);
        display: flex;
        justify-content: center;
    }
    
        .Inicio{
            background-color: rgb(224, 219, 219);
            display: flex;

        }
        
        .Inicio img{
            padding: 0px;
            margin: 0px;
            width: auto;
            height: 25px;
        }


    .PrincipalAdmin{
        border: 2px solid blue;
    }

        .ttl-Admin{
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
        }

        .ttl-Admin h1{
            font-family:Arial, Helvetica, sans-serif
        }

      
        .cnt-btns{
            border: 2px solid #3b3b3c40;
            background: #9999994a;
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .formulario{
            display: none;
 
        }