*{
    margin: 5px;
    padding: 5px;
}

body{
    background-color: gray;
    margin: 0px;
    padding: 0px;
}

html{
    margin: 0%;
    padding: 0%;
}

.Registrar{
    background:rgb(108 105 114 / 63%);
    
}
.Registrar h1{
    text-align: center;
    border-bottom: 2px solid white;
}
    .header{
        background-color: rgb(57, 57, 57);
        display: flex;
        justify-content: center;
    }
    
        .Inicio{
            background-color: rgb(224, 219, 219);
            display: flex;

        }
        
        .Inicio img{
            padding: 0px;
            margin: 0px;
            width: auto;
            height: 25px;
        }

    .cntform{
        background: rgb(1 1 1 / 36%);
        height: 400px;
        width: auto;
        display: flex;
        justify-content: center;
    }
        .form{
            background-color: rgb(202, 197, 197);
            width: auto;
            border-radius: 20px;
            height: auto;
        }
        .form p{
            color: white;
        }
        .form div{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
          
    /*Cajas mensajes de estados de conexión PHP*/

    .msgBoxVoid span{
        color: rgb(76, 5, 5);
    }
    .msgSuccess{
        display: flex;
        justify-content: center;
        border-radius: 20px;
        background-color: rgba(199, 80, 80, 0.712);
    }
    #btnRegister{
        display: flex;
        justify-content:center;
    }
    #btnRegister input{
        background-color: rgba(108, 167, 108, 0.546);
        text-align: center;
    }
    
    #msgBoxVoid{
        display: flex;
        justify-content: center;
        border-radius: 20px;
        background-color: rgba(199, 80, 80, 0.712);
    }