body{
    margin: 5px;
    padding: 5px;
    height: 500px;
    width: 100%;
}

html{
    display: flex;
}

    .principal-prueba{
        background: rgb(159, 180, 227);
        margin: 5px;
        padding: 5px;
        height: auto;
    }
        .mnu-carrucel{
            background: rgb(84, 126, 177);
            margin: 5px;
            padding: 5px;
            height: auto;
        }
        .carousel-inner{
            height: 300px;
        }
        
